.app-buildForm-basePanle {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;

  .app-from-controller-select-item {
    background-color: #ff013c38 !important;
    border: 1px dashed #ff013c !important;

    &:hover {
      border: 1px solid #ff013c !important;
      background-color: #ff013c38 !important;
    }
  }

}
