.app-from-subassembly-grid {
  min-height: 33px;
  padding: 5px;
  border: 1px dashed rgba(128, 126, 126, 0.5);

  &.app-from-subassembly-grid-row {
    border: none;
    padding: 5px;

    & > div {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & > div.sortable-ghost {
      margin: 5px 0;
    }

    & > .app-from-controller-select-item {
      margin: 5px 0;

      .rs-row {
        padding: 5px;
      }
    }
  }

  .app-from-subassembly-grid-item {
    border: 1px dashed #787be8;
    margin: 5px;
    padding: 5px;
    cursor: move;

    &:hover {
      border: 1px solid #787be8;
      background-color: rgba(120, 123, 232, 0.1);
    }

  }

  .app-from-subassembly-grid-item.hide {
    display: none;
  }
}
