.app-from-right-controller {
  width: 20%;
  height: 100%;
  padding: 10px;
  background-color: #fff; }

.app-FormGroup-h {
  display: flex;
  align-items: center; }
  .app-FormGroup-h > .rs-control-label {
    min-width: 45px; }
