.app-from-center-controller {
  width: 55%;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;

  .rs-form {
    height: inherit;

    .app-from-left-controller-group-panle {
      height: inherit;
    }
  }


  .app-from-center-controller-group-item {
    border: 1px dashed #787be8;
    margin: 5px;
    padding: 5px;
    cursor: move;

    &:hover {
      border: 1px solid #787be8;
      background-color: rgba(120, 123, 232, 0.1);
    }

    .rs-grid-container-fluid {
      padding: 0;
    }
  }
}
